<section ng-controller="BusquedaController">
  <form>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample4" ng-model="searchPokemon ">
        <label class="mdl-textfield__label" for="sample4">numero o nombre pokemon </label>

      </div>


      <button ng-click="search(searchPokemon)" class="">
        <i class="">buscar</i>
      </button>
    </form>


		<div>
				<div ng-hide="isSearching" id="pokeball"></div>
				    <div ng-hide="!isSearching">
				</div>
      	<div ng-hide="!isSearching" class="col-md-3 col-xs-5 ">
        </div>
    </div>
  <br>
<div class="container-fluid">


  <div class="row">
  		<div class="panel panel-primary">
  			<div class="panel-heading">
  				Pokemon Card
  				<span class="label label-default pull-right"># <strong>{{ pokemon.id }}</strong></span>
  			</div>

  <div class="col-md-4">
    <br>
					<div class="panel panel-default">
						<div class="panel-heading">Normal</div>
						<div class="panel-body">
              <div class="col-md-6">
                <div class="row">
                  <div class="slider">
                    <div class="col-md-12 col-xs-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.front_default}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                    <div class="col-md-12 col-xs-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.back_default}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-4 ">
                    <span ng-hide="!isSearching">
                      <i class="fa fa-mars"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="slider">
                    <div class="col-md-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.front_female}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                    <div class="col-md-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.back_female}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-4 ">
                    <span ng-hide="!isSearching">
                      <i class="fa fa-venus"></i>
                    </span>
                  </div>
                </div>
              </div>

						</div>
					</div>
          <div class="panel panel-default">
						<div class="panel-heading">SHINY</div>
						<div class="panel-body">
              <div class="col-md-6">
                <div class="row">
                  <div class="slider">
                    <div class="col-md-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.front_shiny}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                    <div class="col-md-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.back_shiny}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-4 ">
                    <span ng-hide="!isSearching">
                      <i class="fa fa-mars"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="slider">
                    <div class="col-md-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.front_shiny_female}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                    <div class="col-md-12 center-block poke"
                        style="background-image: url('{{pokemon.sprites.back_shiny_female}}');">
                          <i  aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-4 ">
                    <span ng-hide="!isSearching">
                      <i class="fa fa-venus"></i>
                    </span>
                  </div>
                </div>
              </div>

						</div>
					</div>
				</div>
  <div class="col-md-8">
    <br>
					<div class="panel panel-default">
						<div class="panel-heading">Información</div>
            <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="panel-heading">Data</div>
                  <table class="table table-striped table-condensed">
    								<tbody>
    									<tr>
    										<td ><strong>ID</strong></td>
    										<td>{{ pokemon.id }}</td>
    									</tr>
    									<tr>
    										<td><strong>Nombre</strong></td>
    										<td>{{ pokemon.name | uppercase}}
                          <span ng-hide="!isSearching">
                              {{tipo | uppercase}}
                				  </span>
                        </td>
    									</tr>
                      <tr>
    										<td><strong>Especie</strong></td>
    										<td>
                          {{special_data.genera[0].genus}}
                          <span ng-hide="!isSearching">
                            {{poke}}
                          </span>

                        </td>
    									</tr>
    									<tr>
    										<td><strong>Generación</strong></td>
    										<td>
                          {{special_data.generation.name}}

                        </td>
    									</tr>
    									<tr>
    										<td>
    											<strong>
    												Tipo <span data-ng-if="pokemon.type.length > 1" ></span>
    											</strong>
    										</td>
    										<td>

                            <!--
    												<span ng-attr-id="{{pokemonType}}">{{pokemon.types[0].type.name}}</span>
                            <span ng-attr-id="{{pokemonType2}}">{{pokemon.types[1].type.name}}</span>
                            <div >{{pokemon.types[0].type.name}}</div>
                            <div class="">{{pokemon.types[1].type.name}}</div>

                            -->

                            <div data-ng-repeat="item in pokemon.types" class="">
                                <ul class="">
                                  {{ item.type.name}}

                                </ul>
                            </div>



    										</td>
    									</tr>
    									<tr>
    										<td><strong>Altura </strong></td>

    										<td>{{ pokemon.height  * 0.1 | number : 1 }}
                          <span ng-hide="!isSearching">
                            {{altura}}
                          </span>
                        </td>
    									</tr>
    									<tr>
    										<td><strong>Peso</strong></td>
    										<td>{{ pokemon.weight * 0.1 | number : 1 }}
                          <span ng-hide="!isSearching">
                            {{peso}}
                          </span>
                        </td>
    									</tr>
    									<tr>
    										<td><strong>Habilidades</strong></td>
    										<td>
    											<ul class="list-unstyled">
                            <p>{{pokemon.abilities[0].ability.name }}</p>
                  					<p>{{pokemon.abilities[1].ability.name }}</p>
                  					<p>{{pokemon.abilities[2].ability.name }}</p>
    											</ul>
    										</td>
    									</tr>
                      <tr>
    										<td><strong>Preevolución</strong></td>
    										<td>

                          {{special_data.evolves_from_species.name}}

                        </td>
    									</tr>
                      <tr>
    										<td><strong>Evoluciona a</strong></td>
    										<td>
                          {{nextEvo.chain.evolves_to[0].evolves_to[0].species.name}}

                        </td>
    									</tr>


    								</tbody>
    							</table>



                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="panel-heading">Formación</div>
                    <table class="table table-striped table-condensed">
      								<tbody>
      									<tr>
      										<td ><strong>Tasa de Captura</strong></td>
      										<td>{{special_data.capture_rate}}</td>
      									</tr>
      									<tr>
      										<td><strong>Felicidad</strong></td>
      										<td>{{special_data.base_happiness}}</td>
      									</tr>
                        <tr>
      										<td><strong>Crecimiento</strong></td>
      										<td>
                            {{special_data.growth_rate.name}}


                          </td>
      									</tr>
                      </tbody>
                    </table>

                  </div>

                <div class="row">
                  <div class="panel-heading">Cría</div>
                  <table class="table table-striped table-condensed">
                    <tbody>
    									<tr>
    										<td><strong>Grupo de Huevo</strong></td>
    										<td>
                          {{special_data.egg_groups[0].name}}
                          {{special_data.egg_groups[1].name}}
                        </td>
    									</tr>
                      <tr>
    										<td><strong>Circulo de Huevos</strong></td>
    										<td>
                          {{special_data.hatch_counter}}

                        </td>
    									</tr>
    								</tbody>
    							</table>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <tr>
                  <td><strong>Descripción</strong></td>
                  <td>
                    {{special_data.flavor_text_entries[3].flavor_text}}
                    {{special_data.flavor_text_entries[27].flavor_text}}
                  </td>
                </tr>
              </div>

            </div>


						</div>
					</div>
				</div>
      </div>
  <div class="col-md-4">


     <script>
     $(".slider").slick({
                autoplay: true,
                autoplaySpeed: 1600,
                fade: true,
                dots:false,
                });
     </script>
  </div>
  <div class="col-md-8 ">

					<div class="panel panel-default">
						<div class="panel-heading">Estadisitcas</div>
						<div class="panel-body">
							<dl>
								<dt>{{pokemon.stats[0].stat.name }}<small>
                  <span ng-hide="!isSearching">
                    {{parentesis1}}
                  </span>
                  {{pokemon.stats[0].base_stat }}
                  <span ng-hide="!isSearching">
                    {{parentesis2}}
                  </span>

                </small>
                </dt>
								<dd>
									<div class="progress progress-striped active">
										<div class="progress-bar" style="width: {{ pokemon.stats[0].base_stat }}%"></div>
									</div>
								</dd>
							</dl>
							<dl>
                <dt>{{pokemon.stats[1].stat.name }}<small>
                  <span ng-hide="!isSearching">
                    {{parentesis1}}
                  </span>
                  {{pokemon.stats[1].base_stat }}
                  <span ng-hide="!isSearching">
                    {{parentesis2}}
                  </span>

                </small>
                </dt>
								<dd>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-warning" style="width: {{ pokemon.stats[1].base_stat }}%"></div>
									</div>
								</dd>
							</dl>
							<dl>
                <dt>{{pokemon.stats[2].stat.name }}<small>
                  <span ng-hide="!isSearching">
                    {{parentesis1}}
                  </span>
                  {{pokemon.stats[2].base_stat }}
                  <span ng-hide="!isSearching">
                    {{parentesis2}}
                  </span>

                </small>
                </dt>
								<dd>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-warning" style="width: {{ pokemon.stats[2].base_stat }}%"></div>
									</div>
								</dd>
							</dl>
							<dl>
                <dt>{{pokemon.stats[3].stat.name }}<small>
                  <span ng-hide="!isSearching">
                    {{parentesis1}}
                  </span>
                  {{pokemon.stats[3].base_stat }}
                  <span ng-hide="!isSearching">
                    {{parentesis2}}
                  </span>

                </small>
                </dt>
								<dd>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-info" style="width: {{ pokemon.stats[3].base_stat }}%"></div>
									</div>
								</dd>
							</dl>
							<dl>
                <dt>{{pokemon.stats[4].stat.name }}<small>
                  <span ng-hide="!isSearching">
                    {{parentesis1}}
                  </span>
                  {{pokemon.stats[4].base_stat }}
                  <span ng-hide="!isSearching">
                    {{parentesis2}}
                  </span>

                </small>
                </dt>
								<dd>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-danger" style="width: {{ pokemon.stats[4].base_stat }}%"></div>
									</div>
								</dd>
							</dl>
              <dl>
                <dt>{{pokemon.stats[5].stat.name }}<small>
                  <span ng-hide="!isSearching">
                    {{parentesis1}}
                  </span>
                  {{pokemon.stats[5].base_stat }}
                  <span ng-hide="!isSearching">
                    {{parentesis2}}
                  </span>

                </small>
                </dt>
								<dd>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-danger" style="width: {{ pokemon.stats[5].base_stat }}%"></div>
									</div>
								</dd>
							</dl>
              <dl>
								<dt>
                  <span ng-hide="!isSearching">
                    {{base_exp}}
                  </span>
                  <small>
                    <span ng-hide="!isSearching">
                      {{parentesis1}}
                    </span>
                    {{pokemon.base_experience }}
                    <span ng-hide="!isSearching">
                      {{parentesis2}}
                    </span>
                    </small>
                </dt>
								<dd>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-success" style="width: {{ pokemon.base_experience }}%"></div>
									</div>
								</dd>
							</dl>

						</div>
					</div>
				</div>


</div>
</div>
</div>





</section>
