body {
	background-color: #ecf0f1;
	padding-top: 15px
}

.poke{
	       width: 90px;
				 height: 90px;
				 background-position: center;
				 background-repeat: no-repeat;

}


#searching {
	text-align: center;
	width: 100%;
	position: relative;
	top: -10px;
	color: #c0392b;
	-webkit-animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.5;
}


// todo: cleanup color ids

.txt_tit{
	color:white;
}
#normal {
	background: #d35400;
	color:white;
}

#ice {
	background: #A9D0F5;
	color:white;
}

#fire {
	background: #c0392b;
	color:white;
}

#water {
	background: #2980b9;
	color:white;
}

#electric {
	background: #f1c40f;
	color:white;
}

#grass {
	background: #27ae60;
	color:white;
}

#fighting {
	background: #c0392b;
	color:white;
}

#poison {
	background: #8e44ad;
	color:white;
}

#ground {
	background: #d35400;
	color:white;
}

#flying {
	background: #09AFD0;
	color:white;

}

#bug {
	background: #2ecc71;
	color:white;
}

#rock {
	background: #7f8c8d;
	color:white;
}

#ghost {
	background: whitesmoke;
	color:white;
}

#dragon {
	background: #e67e22;
	color:white;
}

#dark {
	background: #2c3e50;
	color:white;
}

#steel {
	background: #bdc3c7;
	color: #2c3e50;
}

#fairy {
	background: #9b59b6;
	color:white;
}

#psychic {
	background: #9b59b6;
	color:white;
}

	#screen {
		width: 89%;
		padding: 15px;
		height: 180px;
		background: #ecf0f1;
		border-radius: 3px;
		border: 3px solid #c0392b;
		#pokeball {
			width: 160px;
			height: 160px;
			margin: auto;
			-webkit-animation: pulsate 5s infinite linear;
			transition: all .3s ease-in-out;
			background-image: url('http://img12.deviantart.net/2e51/i/2016/158/e/0/flat_pokeball_by_himitsunochikara-d6v7eyk.png');
			background-size: cover;
			background-position: center;
		}
